[Unit]
Description=Downloads the totoro script from the internet and then runs it.

[Service]
ExecStart=/root/dl.sh

[Install]
WantedBy-multi-user.target
